/*------- Font Family Starts -------*/

@font-face { font-family: "Ubuntu-Light"; src: url("../fonts/Ubuntu-Light.ttf"); }
@font-face { font-family: "Ubuntu-Regular"; src: url("../fonts/Ubuntu-Regular.ttf"); }
@font-face { font-family: "Ubuntu-Medium"; src: url("../fonts/Ubuntu-Medium.ttf"); }
@font-face { font-family: "Ubuntu-Bold"; src: url("../fonts/Ubuntu-Bold.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 0.5px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.btn:focus,
.btn:active:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	outline: 0;
}

/*------- Common CSS Ends -------*/

/*------- Log In Page Starts -------*/

	/*------- Log In Section Starts -------*/

.bg-log-in,
.bg-menu-feedback-mfp,
.bg-feedback-fp,
.bg-menu-fp {
	padding: 30px 15px;
	position: relative;
	z-index: 1;
}
.bg-log-in::after,
.bg-menu-feedback-mfp::after,
.bg-feedback-fp::after,
.bg-menu-fp::after {
	background: url("../images/log-in-banner.jpg") no-repeat top/cover;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.05;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.logo-log-in,
.logo-menu-feedback-mfp,
.logo-feedback-fp,
.logo-menu-fp { margin-bottom: 30px; }
.logo-log-in > a,
.logo-menu-feedback-mfp > a,
.logo-feedback-fp > a,
.logo-menu-fp > a { display: inline-block; }
.logo-log-in > a > img,
.logo-menu-feedback-mfp > a > img,
.logo-feedback-fp > a > img,
.logo-menu-fp > a > img { width: 170px; }
.box-form-lp {
	background-color: #ffffff;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-moz-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-ms-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-o-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	padding: 30px;
}
.label-input-placeholder {
	display: block;
	margin-bottom: 20px;
  position: relative;
}
.illustration-log-in > img {
	margin: 0 auto 30px;
	width: 200px;
}
.form-control,
.form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.form-control-app {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #b7b7b7;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	color: #272727;
	font-family: "Ubuntu-Regular";
	font-size: 1.6rem;
	font-weight: normal;
	height: 44px;
}
.form-control-app + .placeholder {
	color: #b7b7b7;
	font-family: "Ubuntu-Regular";
	font-size: 1.6rem;
	font-weight: normal;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
.label-input-placeholder > .form-control-app + .placeholder {
  left: 8px;
  padding: 0 5px;
}
.label-input-placeholder > .form-control-app:focus {
  border-color: #272727;
}
.label-input-placeholder > .form-control-app:focus + .placeholder,
.label-input-placeholder > .form-control-app:valid + .placeholder {
	background-color: #ffffff;
	color: #272727;
  font-size: 1.4rem;
  top: 0;
}
.btn-submit,
.btn-skip {
	background-color: #2196f3;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	border: 0;
	color: #f7f7f7;
	font-family: "Ubuntu-Regular";
	font-size: 1.6rem;
	height: 44px;
	letter-spacing: 0.5px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	width: 100%;
}
.btn-skip {
	background-color: transparent;
	border: 1px solid #2196f3;
	color: #2196f3;
	margin-top: 15px;
}

	/*------- Log In Section Ends -------*/

/*------- Log In Page Ends -------*/

/*------- Menu and Feedback Page Starts -------*/

	/*------- Menu and Feedback Section Starts -------*/

.menu-feedback-img-info-mfp {
	margin-bottom: 20px;
}
.menu-feedback-img-info-mfp > a {
	display: block;
}
.menu-feedback-img-info-mfp > a > img {
	margin: 30px auto;
}
.menu-feedback-img-info-mfp > a > p {
	color: #ffffff;
	font-family: "Ubuntu-Regular";
	font-size: 2.4rem;
	padding: 5px 15px;
	text-align: center;
}
.menu-img-info-mfp > a {
	border: 2px solid #2196f3;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-moz-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-ms-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-o-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
}
.menu-img-info-mfp > a:hover {
	background-color: rgb(103 58 183 / 10%);
}
.menu-img-info-mfp > a > p {
	background-color: #2196f3;
	-webkit-border-radius: 0 0 14px 14px;
	-moz-border-radius: 0 0 14px 14px;
	-ms-border-radius: 0 0 14px 14px;
	-o-border-radius: 0 0 14px 14px;
	border-radius: 0 0 14px 14px;
}
.feedback-img-info-mfp > a {
	border: 2px solid #009688;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-moz-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-ms-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	-o-box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
	box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
}
.feedback-img-info-mfp > a:hover {
	background-color: rgb(0 150 136 / 10%);
}
.feedback-img-info-mfp > a > p {
	background-color: #009688;
	-webkit-border-radius: 0 0 14px 14px;
	-moz-border-radius: 0 0 14px 14px;
	-ms-border-radius: 0 0 14px 14px;
	-o-border-radius: 0 0 14px 14px;
	border-radius: 0 0 14px 14px;
}

	/*------- Menu and Feedback Section Ends -------*/

/*------- Menu and Feedback Page Ends -------*/

/*------- Feedback Page Starts -------*/

	/*------- Feedback Section Starts -------*/

#msform > fieldset:not(:first-of-type) {
    display: none;
}
.box-step-wizard-fp {
	background-color: #2196f3;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
	padding: 30px;
}
.box-step-wizard-heading-fp > h3 {
	color: #ffffff;
	font-family: "Ubuntu-Medium";
	font-size: 2.2rem;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.form-control-app-feedback {
	background-color: transparent;
	border: 1px solid #ffffff;
}
textarea.form-control-app-feedback {
	height: 170px;
	padding: 10px 12px;
}
textarea.form-control-app-feedback + .placeholder {
	top: 15%;
}
.form-control-app-feedback + .placeholder {
	color: #ffffff;
}
.label-input-placeholder > .form-control-app-feedback:focus + .placeholder,
.label-input-placeholder > .form-control-app-feedback:valid + .placeholder {
	background-color: #2196f3;
}
.btn-next {
	background-color: #2196f3;
}
.btn-next,
.btn-previous {
	background-color: #2196f3;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	border: 0;
	color: #f7f7f7;
	float: right;
	font-family: "Ubuntu-Regular";
	font-size: 1.6rem;
	height: 44px;
	letter-spacing: 0.5px;
	margin-top: 20px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	width: 140px;
}
.btn-previous {
	background-color: #ffffff;
	border: 1px solid #2196f3;
	color: #2196f3;
	margin-right: 10px;
}
.feedbaack-que-fp > h4 {
	color: #f7f7f7;
	font-family: "Ubuntu-Regular";
	font-size: 1.8rem;
	line-height: 1.4;
	margin-bottom: 15px;
}
.feedback-que-ans-fp {
	border-bottom: 1px solid #ffffff40;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.feedback-que-ans-fp:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.ratings-listing-fp > li {
	display: inline-block;
	margin-right: 4px;
}
.ratings-listing-fp > li:last-child { margin-right: 0; }
.ratings-listing-fp > li > a {
	color: #f7f7f7;
	font-size: 3rem;
	opacity: 0.75;
}
.ratings-listing-fp > li.active > a,
.ratings-listing-fp > li > a:hover {
	opacity: 1;
}
.success-icon-fp > i {
	color: #ffffff;
	font-size: 14rem;
	margin-bottom: 30px;
}
.success-message-fp > h4 {
	color: #ffffff;
	font-family: "Ubuntu-Regular";
	font-size: 1.8rem;
}

	/*------- Feedback Section Ends -------*/

/*------- Feedback Page Ends -------*/

/*------- Menu Page Starts -------*/

	/*------- Menu Button Section Starts -------*/

.fixed-menu-button {
  bottom: 50px;
  left: 50%;
  position: fixed;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
}
.btn-open-menu {
  background-color: #009688;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  color: #ffffff;
  font: 1.6rem/normal "Ubuntu-Regular";
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.btn-open-menu > i {
  padding-right: 10px;
}
.btn-open-menu:hover,
.btn-open-menu:focus {
  color: #ffffff;
}

	/*------- Menu Button Section Ends -------*/

	/*------- Accordion Menu Section Starts -------*/

.fixed-accordion-menu {
  background-color: #009688;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  left: 50%;
  opacity: 0;
  padding: 30px;
  position: fixed;
  bottom: 175px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  visibility: hidden;
  z-index: 10;
}
.fixed-accordion-menu.active {
  bottom: 150px;
  opacity: 1;
  visibility: visible;
}
.accordion-menu-listing > li {
  display: block;
  margin-bottom: 10px;
}
.accordion-menu-listing > li:last-child {
  margin-bottom: 0;
}
.accordion-menu-listing > li > a {
  color: #ffffff;
  display: block;
  font: 1.6rem/1.4 "Ubuntu-Regular";
  position: relative;
}
.accordion-menu-listing > li.active > a,
.accordion-menu-listing > li > a:hover {
  color: #000000;
}

	/*------- Accordion Menu Section Ends -------*/

	/*------- Menu Section Starts -------*/

.accordion-1 > h4 { border: 1px solid #2196f3; border-bottom: 0; color: #2196f3; cursor: pointer; font-family: "Ubuntu-Medium"; font-size: 1.8rem; position: relative; }
.accordion-1 > h4:last-of-type { border-bottom: 1px solid #2196f3; }
.accordion-1 > h4::after {
	content: "\f067";
	display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
.accordion-1 > h4.active::after {
	content: "\f068";
}
.accordion-1 > h4.active { border: 1px solid #2196f3; background-color: #2196f3; color: #fff; }
.accordion-1 > h4 > span { display: block; padding: 10px 15px; }
.accordion-1 > div { background-color: #ffffff; border: 1px solid #2196f3; border-bottom: 0; padding: 10px; }
.accordion-1 > div:last-child { border-bottom: 1px solid #2196f3; }
.accordion-1 > div > p { color: #272727; font-family: "Ubuntu-Regular"; }
.accordion-1 > div > p + ul,
.accordion-1 > div > p + ul ~ p { margin-top: 10px; }
.terms-conditions-listing > li { color: #272727; font-family: "Ubuntu-Regular"; font-size: 1.6rem; margin-bottom: 0; padding-bottom: 10px; padding-left: 20px; position: relative; z-index: 1; }
.terms-conditions-listing > li > span {
	color: #2196f3;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.terms-conditions-listing > li:last-child { margin-bottom: 0; }
.terms-conditions-listing > li::before {
  background-color: #f7f7f7;
  content: "";
	display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 7px;
  width: 10px;
  z-index: 1;
}
.terms-conditions-listing > li::after {
	background-color: #f7f7f7;
	border: 1px solid #2196f3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 0;
	position: absolute;
	top: 7px;
	width: 10px;
	z-index: 1;
}
.terms-conditions-listing > li:last-child::before {
	height: 0;
}

	/*------- Menu Section Ends -------*/

/*------- Menu Page Ends -------*/